/* pt-sans-regular - latin_cyrillic */
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/pt-sans-v11-latin_cyrillic-regular.eot'); /* IE9 Compat Modes */
  src: local('PT Sans'), local('PTSans-Regular'),
       url('../fonts/pt-sans-v11-latin_cyrillic-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/pt-sans-v11-latin_cyrillic-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/pt-sans-v11-latin_cyrillic-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/pt-sans-v11-latin_cyrillic-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/pt-sans-v11-latin_cyrillic-regular.svg#PTSans') format('svg'); /* Legacy iOS */
}
/* pt-sans-700 - latin_cyrillic */
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/pt-sans-v11-latin_cyrillic-700.eot'); /* IE9 Compat Modes */
  src: local('PT Sans Bold'), local('PTSans-Bold'),
       url('../fonts/pt-sans-v11-latin_cyrillic-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/pt-sans-v11-latin_cyrillic-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/pt-sans-v11-latin_cyrillic-700.woff') format('woff'), /* Modern Browsers */
       url('../fonts/pt-sans-v11-latin_cyrillic-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/pt-sans-v11-latin_cyrillic-700.svg#PTSans') format('svg'); /* Legacy iOS */
}

body {
	margin: 0;
	padding: 0;
	
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 14px;
	text-transform: uppercase;
	
	background-color: #f2f2f2;
}

a {
	text-decoration: none;
	color: black;
}

.welcome,
.advantages-img,
.recommend-img,
.map-img,
.form-label,
.footer-social-item,
.hotel-img,
.hotel-stars {
	line-height: 0;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.wrapper {
	position: relative;
	
	margin-left: auto;
	margin-right: auto;
	width: 1200px;

	box-shadow: 0 5px 15px 0 rgba(0, 1, 1, 0.2);
}

.main-header {
	position: relative;
	
	width: 1200px;
	min-height: 56px;
	
	font-weight: bold;
}

.header {
	position: relative;
	
	min-height: 56px;
	width: 1200px;
	
	font-weight: bold;
}

.nav {
	position: absolute;
	z-index: 1;
	
	display: flex;
	width: 1200px;

	background-color: white;
}

.nav-item {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 239px;
	height: 56px;
}

.nav-item:nth-child(2) {
	margin-right: auto;
}

.nav-link {
	font-weight: bold;
	line-height: 26px;
}

.nav-item:last-child .nav-link {
	margin-left: 15px;
}

.nav-item:nth-child(2) .nav-link {
	margin-left: 5px;
}

.current-state {
	color: #766357;
}

.nav-link:hover {
	color: #81b3d2;
}

.nav-link:active {
	color: rgba(0, 0, 0, 0.3);
}

.nav-logo {
	position: absolute;
	z-index: 2;
	left: 50%;
	
	margin-left: -70px;
}

.main-container {
	position: relative;
	
	width: 1200px;	
}

.container {
	position: relative;
	
	width: 1200px;
	
	background-color: #FEFEFE;
}

.welcome {
	background-color: #82B4D3;
	background-image: url("../img/background-photo.jpg");
	background-position: top center;
	background-repeat: no-repeat;
	
	text-align: center;
}

.welcome-logo {
	display: inline-block;
	margin-top: 76px;
	margin-bottom: 22px;
}

.description {
	display: flex;
	box-sizing: border-box;
	min-height: 216px;
	padding-left: 350px;
	padding-right: 350px;
	padding-top: 61px;
	padding-bottom: 56px;
	
	background-color: white;
}

.description-info {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 100%;
	min-height: 99px;
}

.description-title {
	font-size: 21px;
	font-weight: 700;
	line-height: 26px;
	text-align: center;
}

.description-text {
	text-align: center;
	margin: 0px;
}

.advantages-item {
	display: flex;
	min-height: 256px;
	
	background-color: #82B4D3;
	color: white;
}

.advantages-info {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	box-sizing: border-box;
	width: 400px;
	min-height: 256px;
	padding-top: 47px;
	padding-bottom: 59px;
	padding-left: 60px;
	padding-right: 60px;
	
	text-align: center;
}

.advantages .advantages-img + .advantages-info {
	box-sizing: border-box;
	width: 400px;
	min-height: 256px;
	padding-top: 46px;
	padding-bottom: 60px;
	padding-left: 48px;
	padding-right: 49px;
}

.advantages-title {
	width: 55%;
	align-self: center;
	
	font-size: 21px;
	font-weight: 700;
	line-height: 21px;
}

.advantages-text {
	line-height: 21px;
}

.advantages-gray {
	display: flex;
	width: 1200px;
	min-height: 256px;
	
	text-align: center;
	color: black;
	
	background-color: #EFEFEF;
}

.advantages-item-gray {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	box-sizing: border-box;
	width: 400px;
	min-height: 256px;
	padding-top: 47px;
	padding-bottom: 59px;
	padding-left: 60px;
	padding-right: 60px;
}

.advantages-item-gray .advantages-text {
	width: 258px;
}

.recommend {
	display: flex;
	flex-wrap: wrap;
	width: 1200px;
	min-height: 330px;
	
	text-align: center;
	
	background-color: white;
}

.recommend-item {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 284px;
	min-height: 248px;
	padding-bottom: 82px;
	padding-left: 58px;
	padding-right: 58px;
}

.recommend-img {
	min-height: 132px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.recommend-img img {
	margin-top: auto;
}

.recommend-title {
	margin-top: 5px;
	
	font-size: 21px;
	line-height: 21px;
	font-weight: 700;
}

.recommend-text {
	line-height: 21px;
}

.search {
	display: flex;
	box-sizing: border-box;
	min-height: 291px;
	padding-top: 51px;
	padding-left: 316px;
	padding-right: 316px;
	
	background-color: white;
}
.search-info {
	display: flex;
	flex-direction: column;
	align-items: center;
	min-height: 240px;
	
	text-align: center;
}

.search-title {
	font-size: 30px;
	font-weight: bold;
	margin-bottom: 24px;
}

.search-text {
	line-height: 24px;
}


.search-btn {
	width: 568px;
	height: 86px;
	border: none;
	align-self: center;
	margin-top: auto;
	
	font-size: 21px;
	font-weight: bold;
	text-transform: uppercase;
	color: white;
	
	background-color: #776356;
}

.search-btn:hover {
	background-color: #604D41;
}

.search-btn:active {
	color: #938B86;
	
	background-color: #4F3C30;
}

.map-img {
	height: 593px;
	
	background-image: url("../img/map.jpg");
}

.map-img iframe {
	border: 0px;
}

.footer {
	position: relative;
	
	width: 1200px;
}

.main-footer {
	position: absolute;
	bottom: 0px;
	z-index: 2;
	
	width: 1200px;
	height: 120px;
}

.footer-wrap {
	position: relative;
	
	display: flex;
	width: 1200px;
	height: 120px;
}

.footer-back {
	position: absolute;
	z-index: 3;
	top: 0;
	left: 0;
	bottom: 0;
	
	width: 100%;
	
	background-color: white;
	opacity: 0.9;
}

.footer-social,
.footer-copyright {
	z-index: 4;
	
	display: flex;
	justify-content: center;
	align-items: center;
	width: 400px;
}

.footer-contacts {
	z-index: 4;
	
	display: flex;
	width: 400px;
	align-items: center;
}

.footer-text {
	margin-left: 130px;
	
	font-size: 21px;
	font-weight: bold;
	line-height: 31px;
}

.footer-social-link:first-child {
	margin-right: 6px;
}

.footer-social-link:nth-child(2) {
	margin-right: 6px;
}

.footer-social-link {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 46px;
	height: 48px;
	
	background-color: #82B4D3;
}

.footer-social-link:hover {
	background-color: #669FC1;
}

.footer-social-link:active {
	background-color: #5397BE;
}

.footer-social-svg:active path {
	fill: #89B7D2;
}

.footer-copyright-text {
	margin-right: 8px;
}

.footer-copyright-svg:hover path {
	fill: #82B4D3;
}

.footer-copyright-svg:active path {
	fill: #BEBCBD;
}

.form {
	position: absolute;
	z-index: 2;
	bottom: 198px;
	left: 50%;
	
	margin-left: -284px;
	
	font-weight: bold;	
	
	background-color: white;
	box-shadow: 0px 7px 15px 0 rgba(0, 1, 1, 0.15);
}

.form-none {
	display: none;
}

.form-wrap {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 458px;
	min-height: 285px;
	padding: 55px;
}

.form-item {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.form-item:first-child {
	margin-bottom: 29px;
}

.form-item:nth-child(2) {
	margin-bottom: 30px;
}

.form-item:last-child {
	margin-top: 54px;
}

.form-label {
	position: relative;
	
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 346px;
	height: 38px;
	
	background-color: #F2F2F2;
}

.form-calendar-svg {
	position: absolute;
	z-index: 3;
	right: 9px;
	top: 8px;
}

.form-input {
	width: 344px;
	padding-top: 9px;
	padding-bottom: 9px;
	padding-left: 11px;
	padding-right: 37px;
	
	font-weight: bold;
	text-transform: uppercase;

	background-color: #F2F2F2;
	border: 2px solid #F2F2F2;
	outline: none;
}

.form-wrap-short {
	position: relative;
	
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 114px;
	height: 38px;
	
	background-color: #F2F2F2;
}

/* Numper style */

.form-input-short::-webkit-inner-spin-button,
.form-input-short::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

.form-input-short {
  -moz-appearance: textfield;
}

.quantity-adult-minus,
.quantity-child-minus {
	position: absolute;
	z-index: 3;
	top: 0px;
	
	width: 38px;
	height: 34px;
	
	font-weight: bold;
	font-size: 26px;
	
	background-color: rgba(0, 0, 0, 0);
	border: none;
	color: #AAAAAA;
}

.quantity-adult-plus,
.quantity-child-plus {
	position: absolute;
	z-index: 3;
	right: 0px;
	top: 0px;
	
	width: 38px;
	height: 36px;
	
	background-color: rgba(0, 0, 0, 0);
	border: none;
	color: #AAAAAA;
	font-weight: bold;
	font-size: 26px;
}

.quantity-adult-minus:hover,
.quantity-child-minus:hover,
.quantity-adult-plus:hover,
.quantity-child-plus:hover {
	color: black;
}

.quantity-adult-minus:active,
.quantity-child-minus:active,
.quantity-adult-plus:active,
.quantity-child-plus:active {
	color: #82B4D3;
}

/**/

.form-input-short {
	width: 42px;
	padding-right: 34px;
	padding-left: 34px;
	padding-top: 9px;
	padding-bottom: 9px;
	
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
	
	background-color: #F2F2F2;
	border: 2px solid #F2F2F2;
	outline: none;
}


.form-wrap-short:first-child {
	margin-right: auto;
}

.form-input:hover,
.form-input-short:hover {
	background-color: #ECECEC;
	border: 2px solid #ECECEC;
}

.form-label:hover,
.form-wrap-short:hover {
	background-color: #ECECEC;
}

.form-input:focus,
.form-input-short:focus {
	background-color: white;
	border: 2px solid #E6E6E6;
}

.form-submit {
	width: 100%;
	height: 58px;
	
	color: white;
	font-size: 21px;
	text-transform: uppercase;
	font-weight: bold;
	
	border: none;
	background-color: #82B4D3;
}

.form-calendar-svg:hover path {
	fill: #000000;
}

.form-input:hover + .form-calendar-svg path {
	fill: #000000;
}

.form-calendar-svg:active path {
	fill: #82B4D3;
}

.form-input:active + .form-calendar-svg path {
	fill: #82B4D3;
}

.form-submit:hover {
	background-color: #669FC1;
}

.form-submit:active {
	background-color: #5397BE;
	color: #95BAD3;
}

.form-title {
	width: 112px;
}

.form-title-last {
	width: 65px;
	padding-left: 53px;
}

.sorting {
	display: flex;
}

.sorting-wrap {
	width: 1200px;
	min-height: 86px;
	padding-left: 72px;
	padding-right: 72px;
	display: flex;
	align-items: center;
	
	border-bottom: 1px solid #E6E6E6;
}

.sorting-found {
	margin-right: 49px;
	
	font-size: 21px;
	font-weight: bold;
}

.sorting-text {
	margin-right: 38px;
	margin-top: 3px;
	
	font-size: 12px;
}

.sorting-select {
	margin-top: 4px;
	margin-right: 33px;
	padding: 0px;
	padding-bottom: 1px;
	
	font-size: 12px;
	text-transform: uppercase;
	color: rgba(0, 0, 0, 0.3);
	
	background: none;
	border: none;
	border-bottom: 1px dotted #81b3d2;
}

.current-sorting {
	color: #81b3d2;
	
	border-bottom: 1px dotted rgba(0, 0, 0, 0);
}

.sorting-select:hover {
	color: #81b3d2;
}

.sorting-select:active {
	color: black;
	
	border-bottom: 1px dotted rgba(0, 0, 0, 0);
}

.sorting-switch {
	margin-left: auto;
}

.sorting-switch-btn {
	width: 11px;
	margin-right: 7px;
	
	background: none;
	border: none;
}

.sorting-switch-btn:hover path {
	fill: #1E191A;
}

.sorting-switch-btn:active path {
	fill: #82B4D3;
}

.hotel-item {
	width: 1056px;
	min-height: 90px;
	display: flex;
	padding-top: 30px;
	padding-bottom: 30px;
	padding-left: 72px;
	padding-right: 72px;
	
	border-bottom: 1px solid #E6E6E6;
}

.hotel-img {
	margin-right: 30px;
}

.hotel-rating {
	margin-left: auto;
}

.hotel-info {
	display: flex;
	flex-wrap: wrap;
	align-content: space-between;
	width: 258px;
	min-height: 90px
}

.hotel-title {
	margin-bottom: -4px;
	
	font-size: 21px;
	font-weight: bold;
	line-height: 18px;
}

.hotel-type {
	width: 110px;
	margin-right: 6px;
	
	color: #333333;
	line-height: 14px;	
}

.hotel-price {
	width: 142px;
	
	color: #333333;
	line-height: 14px;	
}

.hotel-link {
	width: 110px;
	height: 27px;
	margin-right: 6px;
	
	color: white;
	font-weight: bold;
	line-height: 27px;
	text-align: center;
	
	background-color: #81b3d2;
}

.hotel-booking {
	width: 142px;
	height: 27px;
	text-align: center;
	vertical-align: middle;
	
	font-weight: bold;
	text-transform: uppercase;
	color: white;
	
	background-color: #766357;
	border: none;
}

.hotel-rating {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.hotel-rating-text {
	min-width: 110px;
	
	line-height: 27px;
	text-align: center;
	color: #666666;
	
	background-color: #f2f2f2;
}

.hotel-stars {
	align-self: flex-end;
}

.star {
	margin-left: 2px;
}

.filtres {
	background-color: #434F53;
	background-image: url("../img/filter-background.jpg");
}

.filtres-form {
	box-sizing: border-box;
	min-height: 217px;
	display: flex;
	justify-content: space-between;
	padding-left: 72px;
	padding-right: 72px;
	padding-top: 29px;
	padding-bottom: 31px;
}

.filtres-item {
	display: flex;
	flex-direction: column;
	min-width: 182px;
	margin-right: 72px;
}
.filtres-title {
	margin-bottom: 28px;
	
	font-size: 16px;
	line-height: 16px;
	font-weight: bold;
	color: white;
}

.filtres-label {
	display: block;
	padding-left: 40px;
	
	color: white;
	line-height: 23px;
}

.filtres-item:nth-child(2) .filtres-label {
	padding-left: 43px;
}

.filtres-item:nth-child(2) .checkbox {
	margin-left: -43px;
}

.filtres-item label:not(:last-child) {
	margin-bottom: 22px;
}

.filtres-input {
	position: absolute;
	width: 1px;
	height: 1px;
	overflow: hidden;
	clip: rect(0 0 0 0);
}

.checkbox {
	position: absolute;
	margin-left: -40px;
	width: 23px;
	height: 23px;
	
	background-image: url("../img/checkbox-off.svg");
}

.filtres-input:checked + .checkbox {
	width: 27px;
	
	background-image: url("../img/checkbox-on.svg");
}

.filtres-input:disabled + .checkbox {
	background-image: url("../img/checkbox-off-disabled.svg");
}

.filtres-input:checked:disabled + .checkbox {
	width: 27px;
	
	background-image: url("../img/checkbox-on-disabled.svg");
}

.filtres-price {
	width: 318px;
	margin-left: auto;
	display: flex;
	flex-direction: column;
}

.filtres-price .filtres-title {
	padding-left: 2px;
	margin-bottom: 13px;
}

.filtres-price-range {
	display: flex;
	align-items: center;
	box-sizing: border-box;
	min-width: 318px;
	min-height: 36px;
	margin-bottom: 20px;
	
	border: 2px solid white;
	border-radius: 2px;
}

.filtres-price-min {
	min-width: 157px;
	
	text-align: center;
	color: white;
}

.filtres-price-max {
	min-width: 155px;
	
	text-align: center;
	color: white;
}

.filtres-price-sep {
	width: 2px;
	height: 22px;
	
	background-color: white;
}

.filtres-submit {
	margin-top: auto;
}

.filtres-submit-btn {
	width: 137px;
	margin-left: 85px;
	margin-bottom: 2px;
	
	border: 2px solid white;
	border-radius: 2px;
	background-color: rgba(0, 0, 0, 0);
	
	text-transform: uppercase;
	color: white;
	line-height: 30px;
}

.filtres-submit-btn:hover {
	background-color: white;
	
	color: black;
}

/* Slider style*/

.filtres-price-slider {
	position: relative;
	min-width: 318px;
	height: 2px;
	
	background-color: rgba(255, 255, 255, 0.3);
}

.slider-range-inside {
	width: 260px;
	height: 2px;
	
	background-color: white;
}

.slider-range-min {
	position: absolute;
	z-index: 2;
	top: -9px;
	
	height: 22px;
	width: 20px;
	
	background-image: url("../img/filter-button.svg");
}

.slider-range-max {
	position: absolute;
	z-index: 2;
	left: 252px;
	top: -9px;
	
	height: 22px;
	width: 20px;
	
	background-image: url("../img/filter-button.svg");
}

.slider-range-min:hover {
	position: absolute;
	z-index: 2;
	cursor: pointer;
	
  top: -10px;
	
	height: 24px;
	width: 22px;
	
	background-image: url("../img/filter-button-hover.svg");
}

.slider-range-max:hover {
	position: absolute;
	z-index: 2;
	cursor: pointer;
	
	left: 251px;
  top: -10px;
	
	height: 24px;
	width: 22px;
	
	background-image: url("../img/filter-button-hover.svg");
}

.range-min,
.range-max {
	border: none;
	background-color: rgba(0,0,0,0);
	
	color: white;
	text-align: center;
	text-transform: uppercase;
}