/* pt-sans-regular - latin_cyrillic */
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/pt-sans-v11-latin_cyrillic-regular.eot'); /* IE9 Compat Modes */
  src: local('PT Sans'), local('PTSans-Regular'),
       url('../fonts/pt-sans-v11-latin_cyrillic-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/pt-sans-v11-latin_cyrillic-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/pt-sans-v11-latin_cyrillic-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/pt-sans-v11-latin_cyrillic-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/pt-sans-v11-latin_cyrillic-regular.svg#PTSans') format('svg'); /* Legacy iOS */
}
/* pt-sans-700 - latin_cyrillic */
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/pt-sans-v11-latin_cyrillic-700.eot'); /* IE9 Compat Modes */
  src: local('PT Sans Bold'), local('PTSans-Bold'),
       url('../fonts/pt-sans-v11-latin_cyrillic-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/pt-sans-v11-latin_cyrillic-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/pt-sans-v11-latin_cyrillic-700.woff') format('woff'), /* Modern Browsers */
       url('../fonts/pt-sans-v11-latin_cyrillic-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/pt-sans-v11-latin_cyrillic-700.svg#PTSans') format('svg'); /* Legacy iOS */
}

body {
	margin: 0;
	padding: 0;
	
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 14px;
	text-transform: uppercase;
	
	background-color: #f2f2f2;
	
}

a {
	text-decoration: none;
	color: black;
}

.welcome,
.advantages-img,
.recommend-img,
.map-img,
.form-label,
.footer-social-item,
.hotel-img,
.hotel-stars {
	line-height: 0;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.wrapper {
	box-shadow: 0 5px 15px 0 rgba(0, 1, 1, 0.2);
	margin-left: auto;
	margin-right: auto;
	position: relative;
	width: 1200px;
}

.main-header {
	width: 1200px;
	min-height: 56px;
	position: relative;
	
	font-weight: bold;
}

.header {
	min-height: 56px;
	width: 1200px;
	position: relative;
	
	font-weight: bold;
}

.nav {
	display: flex;
	position: absolute;
	z-index: 1;
	width: 1200px;

	background-color: white;
}

.nav-item {
	width: 239px;
	height: 56px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.nav-item:nth-child(2) {
	margin-right: auto;
}

.nav-link {
	font-weight: bold;
}

.current-state {
	color: #766357;
}

.nav-link:hover {
	color: #81b3d2;
}

.nav-link:active {
	color: rgba(0, 0, 0, 0.3);
}

.nav-logo {
	position: absolute;
	z-index: 2;
	left: 50%;
	margin-left: -70px;
}

.main-container {
	width: 1200px;	
	position: relative;
}

.container {
	background-color: #FEFEFE;
	width: 1200px;
	position: relative;
}

.welcome {
	background-color: #82B4D3;
	background-image: url("../img/background-photo.jpg");
	background-position: top center;
	background-repeat: no-repeat;
	
	text-align: center;
}

.welcome-logo {
	display: inline-block;
	margin-top: 76px;
	margin-bottom: 22px;
}

.description {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	
	box-sizing: border-box;
	padding-left: 355px;
	padding-right: 355px;
	padding-top: 61px;
	padding-bottom: 56px;
	min-height: 216px;
	
	background-color: white;
}

.description-title {
	font-size: 21px;
	font-weight: 700;
	line-height: 26px;
	text-align: center;
}

.description-text {
	text-align: center;
}

.advantages-item {
	display: flex;
	min-height: 256px;
	
	background-color: #82B4D3;
	color: white;
	justify-content: space-between;
	align-items: center;
}

.advantages-info {
	display: flex;
	flex-direction: column;
	text-align: center;
	justify-content: space-between;
}

.advantages-info:first-child {
	box-sizing: border-box;
	width: 400px;
	min-height: 256px;
	padding-top: 47px;
	padding-bottom: 59px;
	padding-left: 60px;
	padding-right: 60px;
}

.advantages-info:nth-child(2) {
	box-sizing: border-box;
	width: 400px;
	min-height: 256px;
	padding-top: 46px;
	padding-bottom: 60px;
	padding-left: 48px;
	padding-right: 49px;
}

.advantages-title {
	font-size: 21px;
	font-weight: 700;
	line-height: 21px;
	
	width: 49.5%;
	align-self: center;
}

.advantages-text {
	line-height: 21px;
}

.advantages-gray {
	display: flex;
	width: 1200px;
	min-height: 256px;
	text-align: center;
	
	background-color: #EFEFEF;
	color: black;

}

.advantages-item-gray {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
		
	box-sizing: border-box;
	width: 400px;
	min-height: 256px;
	padding-top: 47px;
	padding-bottom: 59px;
	padding-left: 60px;
	padding-right: 60px;
}

.recommend {
	display: flex;
	flex-wrap: wrap;
	width: 1200px;
	min-height: 330px;
	text-align: center;
	
	background-color: white;
}

.recommend-item {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 284px;
	min-height: 248px;
	padding-bottom: 82px;
	padding-left: 58px;
	padding-right: 58px;
}

.recommend-img {
	min-height: 132px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.recommend-img img {
	margin-top: auto;
}

.recommend-title {
	font-size: 21px;
	line-height: 21px;
	font-weight: 700;
	margin-top: 5px;
}

.recommend-text {
	line-height: 21px;
}

.search {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	min-height: 240px;
	padding-top: 51px;
	
	background-color: white;
}
.search-info {
	min-height: 107px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	
	text-align: center;
}

.search-title {
	font-size: 30px;
	font-weight: bold;
}

.search-text {
	width: 40%;
	
	line-height: 24px;
}

.search-bt {
	width: 568px;
	height: 86px;
	border: none;
	align-self: center;
	margin-top: auto;
	
	font-size: 21px;
	font-weight: bold;
	text-transform: uppercase;
	
	background-color: #776356;
	color: white;
}

.search-bt:hover {
	background-color: #604D41;
}

.search-bt:active {
	background-color: #4F3C30;
	color: #938B86;
}

.main-footer {
	width: 1200px;
	height: 120px;
	position: absolute;
	bottom: 0px;
	z-index: 2;
}

.footer {
	width: 1200px;
	position: relative;
}

.footer-wrap {
	display: flex;
	position: relative;
	width: 1200px;
	height: 120px;
}

.footer-back {
	position: absolute;
	z-index: 3;
	background-color: white;
	opacity: 0.9;
	top: 0;
	left: 0;
	bottom: 0;
	width: 100%;

}

.footer .footer-social,
.footer .footer-copyright {
	width: 400px;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 4;
}

.footer .footer-contacts {
	width: 400px;
	display: flex;
	align-items: center;
	z-index: 4;
}


.footer-text {
	font-size: 21px;
	font-weight: bold;
	line-height: 31px;
	margin-left: 132px;
}

.footer-social-link:first-child {
	margin-right: 6px;
}

.footer-social-link:nth-child(2) {
	margin-right: 6px;
}

.footer-social-link {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 46px;
	height: 48px;
	background-color: #82B4D3;
}

.footer-social-link:hover {
	background-color: #669FC1;
}

.footer-social-link:active {
	background-color: #5397BE;
}

.footer-social-svg:active path {
	fill: #89B7D2;
}

.footer-copyright-text {
	margin-right: 8px;
}

.footer-copyright-svg:hover path {
	fill: #82B4D3;
}

.footer-copyright-svg:active path {
	fill: #BEBCBD;
}

.form {
	position: absolute;
	z-index: 2;
	bottom: 198px;
	left: 50%;
	margin-left: -284px;
	
	
	background-color: white;
	
	font-weight: bold;
}

.form-wrap {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 458px;
	min-height: 285px;
	padding: 55px;
}

.form-item {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.form-item:first-child {
	margin-bottom: 29px;
}

.form-item:nth-child(2) {
	margin-bottom: 30px;
}

.form-item:last-child {
	margin-top: 54px;
}

.form-label {
	background-color: #F2F2F2;
	
	position: relative;
	width: 346px;
	height: 38px;
	
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.form-calendar-svg {
	position: absolute;
	z-index: 3;
	right: 9px;
	top: 8px;
}

.form-input {
	background-color: #F2F2F2;
	border: 2px solid #F2F2F2;
	outline: none;
	
	font-weight: bold;
	text-transform: uppercase;
	
	width: 344px;
	padding-top: 9px;
	padding-bottom: 9px;
	padding-left: 13px;
	padding-right: 37px;
}

.form-label-short {
	background-color: #F2F2F2;

	width: 114px;
	height: 38px;

	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
}

.form-minus-svg {
	position: absolute;
	z-index: 3;
	left: 13px;
	top: 8px;
}

.form-plus-svg {
	position: absolute;
	z-index: 3;
	right: 13px;
	top: 8px;
}

.form-input-short {
	background-color: #F2F2F2;
	border: 2px solid #F2F2F2;
	outline: none;
	
	font-weight: bold;
	text-transform: uppercase;
	
	width: 42px;
	padding-right: 34px;
	padding-left: 34px;
	padding-top: 9px;
	padding-bottom: 9px;

	text-align: center;
}


.form-label-short:first-child {
	margin-right: auto;
}

.form-input:hover,
.form-input-short:hover {
	background-color: #ECECEC;
	border: 2px solid #ECECEC;
}

.form-label:hover,
.form-label-short:hover {
	background-color: #ECECEC;
}

.form-input:focus,
.form-input-short:focus {
	background-color: white;
	border: 2px solid #E6E6E6;
}



.form-submit {
	background-color: #82B4D3;
	color: white;
	font-size: 21px;
	text-transform: uppercase;
	font-weight: bold;
	
	border: none;
	
	width: 100%;
	height: 58px;
}

.form-calendar-svg:hover path,
.form-minus-svg:hover rect,
.form-plus-svg:hover polygon {
	fill: #000000;
}

.form-calendar-svg:active path,
.form-minus-svg:active rect,
.form-plus-svg:active polygon {
	fill: #82B4D3;
}

.form-submit:hover {
	background-color: #669FC1;
}

.form-submit:active {
	background-color: #5397BE;
	color: #95BAD3;
}

.form-title {
	width: 112px;
}

.form-title-last {
	width: 65px;
	padding-left: 53px;
}

.sorting {
	min-height: 86px;
	padding-left: 72px;
	padding-right: 72px;
	display: flex;
	align-items: center;
	
	border-bottom: 1px solid #E6E6E6;
}

.sorting-found {
	font-size: 21px;
	font-weight: bold;
	margin-right: 49px;
}

.sorting-text {
	font-size: 12px;
	
	margin-right: 40px;
}

.sorting-select {
	font-size: 12px;
	text-transform: uppercase;
	
	margin-right: 33px;
	
	color: rgba(0, 0, 0, 0.3);
	background: none;
	border: none;
	border-bottom: 1px dotted #81b3d2;
}

.current-sorting {
	color: #81b3d2;
	border-bottom: none;
}

.sorting-switch {
	margin-left: auto;
}

.sorting-switch-btn {
	width: 11px;
	margin-left: 12px;
	
	background: none;
	border: none;
}

.sorting-svg:hover path {
	fill: #1E191A;
}

.sorting-svg:active path {
	fill: #82B4D3;
}

.hotel-item {
	width: 1056px;
	min-height: 90px;
	display: flex;
	padding-top: 30px;
	padding-bottom: 30px;
	padding-left: 72px;
	padding-right: 72px;
		
	border-bottom: 1px solid #E6E6E6;
}

.hotel-img {
	margin-right: 30px;
}

.hotel-rating {
	margin-left: auto;
}

.hotel-info {
	display: flex;
	flex-wrap: wrap;
	align-content: space-between;
	width: 258px;
	min-height: 90px
}

.hotel-title {
	font-size: 21px;
	font-weight: bold;
	line-height: 18px;
}

.hotel-type {
	width: 110px;
	color: #333333;
	
	line-height: 14px;	
	margin-right: 6px;
}

.hotel-price {
	width: 142px;
	color: #333333;
	line-height: 14px;	
}

.hotel-link {
	width: 110px;
	height: 27px;
	margin-right: 6px;
	
	
	text-align: center;
	
	background-color: #81b3d2;
	color: white;
	
	font-weight: bold;
	line-height: 27px;
}

.hotel-booking {
	width: 142px;
	height: 27px;
	
	text-align: center;
	vertical-align: middle;
	
	background-color: #766357;
	color: white;
	border: none;
	
	font-weight: bold;
	text-transform: uppercase;
}

.hotel-rating {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.hotel-rating-text {
	line-height: 27px;
	text-align: center;
	
	min-width: 110px;
	
	color: #666666;
	background-color: #f2f2f2;
}

.hotel-stars {
	align-self: flex-end;
}

.star {
	margin-left: 2px;
}

.filtres {
	background-color: #434F53;
	background-image: url("../img/filter-background.jpg");
}

.filtres-form {
	box-sizing: border-box;
	min-height: 217px;
	display: flex;
	justify-content: space-between;
	
	padding-left: 72px;
	padding-right: 72px;
	padding-top: 31px;
	padding-bottom: 31px;
}

.filtres-item {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	
	min-width: 182px;
	margin-right: 72px;
}
.filtres-title {
	font-size: 16px;
	font-weight: bold;
	color: white;
}

.filtres-label {
	display: block;
	color: white;
}

.filtres-price {
	min-width: 318px;
	margin-left: auto;
	
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.filtres-price .filtres-title {
	padding-left: 2px;
}

.filtres-price-range {
	box-sizing: border-box;
	min-width: 318px;
	min-height: 36px;
	
	border: 2px solid white;
	border-radius: 2px;
	
	display: flex;
	align-items: center;
}

.filtres-price-min {
	min-width: 157px;
	
	text-align: center;
	color: white;
}

.filtres-price-max {
	min-width: 155px;
	
	text-align: center;
	color: white;
}

.filtres-price-sep {
	width: 2px;
	height: 22px;
	background-color: white;
}

.filtres-submit-btn {
	width: 133px;
	line-height: 30px;
	margin-left: 85px;
	margin-bottom: 2px;
	
	border: 2px solid white;
	border-radius: 2px;
	background-color: rgba(0, 0, 0, 0);
	
	text-transform: uppercase;
	color: white;
}

.filtres-submit-btn:hover {
	background-color: white;
	color: black;
}